{% extends "base.html" %}
{% load i18n %}

{% block body %}
  <h1>{% trans 'Stays' %}</h1>
  {% if stay_list %}
    <h2>{% trans 'Draft Stays' %}</h2>
    {% include "stays/_table_list.html" with stay_list=stay_list %}
    <form action="{% url 'stays--validate-all' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="{% trans 'Validate All' %}" />
    </form>
  {% else %}
    <p>{% trans 'There are no stays to validate.' %}</p>
  {% endif %}

  {% if stay_list_validated %}
    <h2>{% trans 'Validated Stays' %}</h2>
    {% include "stays/_table_list.html" with stay_list=stay_list_validated %}
  {% endif %}
{% endblock %}
